trigger:
  branches:
    include:
    - main

pool:
  vmImage: 'ubuntu-latest'

#variables:
  #- template: vars.yml
variables:
  buildConfiguration: 'Release'
  dotnetVersion: '8.x'
  NUGET_PACKAGES: $(Pipeline.Workspace)/.nuget/packages
  npm_config_cache: $(Pipeline.Workspace)/.npm
  AadTenantId: ''
  AdminPassword: ''
  
stages:
# ================================
# BUILD STAGE
# ================================
- stage: Build
  displayName: 'Build and Test'
  jobs:
  - job: BuildApps
    displayName: 'Build All Applications'
    steps:
    
    # Install .NET 8 SDK
    - task: UseDotNet@2
      displayName: 'Install .NET 8 SDK'
      inputs:
        version: $(dotnetVersion)
        includePreviewVersions: false
    
    # Restore NuGet packages
    - task: DotNetCoreCLI@2
      displayName: 'Restore NuGet Packages'
      inputs:
        command: 'restore'
        projects: '**/*.csproj'
    
    # Build all projects
    - task: DotNetCoreCLI@2
      displayName: 'Build Solution'
      inputs:
        command: 'build'
        projects: '**/*.csproj'
        arguments: '--configuration $(buildConfiguration) --no-restore'
    
    # Run Unit Tests
    - task: DotNetCoreCLI@2
      displayName: 'Run Unit Tests'
      inputs:
        command: 'test'
        projects: 'nyss.sln'
        arguments: '--configuration $(buildConfiguration) --no-build --collect:"XPlat Code Coverage"'
      continueOnError: false

      # Publish Web Pre App
    #- task: DotNetCoreCLI@2
     # displayName: 'Publish RX.Nyss.Data.MigrationApp'
    #  inputs:
     #   command: 'publish'
     #   publishWebProjects: false
     #   projects: 'src/RX.Nyss.Data.MigrationApp/RX.Nyss.Data.MigrationApp.csproj'
     #   arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/migrationapp --no-build'
     #   zipAfterPublish: true
     #   modifyOutputPath: false
    
    # Publish Web App 1
    - task: DotNetCoreCLI@2
      displayName: 'Publish RX.Nyss.Web'
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: 'src/RX.Nyss.Web/RX.Nyss.Web.csproj'
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/webapp --no-build'
        zipAfterPublish: true
        modifyOutputPath: false
    
    # Publish Web App 2
    - task: DotNetCoreCLI@2
      displayName: 'Publish RX.Nyss.ReportApi'
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: 'src/RX.Nyss.ReportApi/RX.Nyss.ReportApi.csproj'
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/reportapi --no-build'
        zipAfterPublish: true
        modifyOutputPath: false
    
    # Publish Function App 1
    - task: DotNetCoreCLI@2
      displayName: 'Publish RX.Nyss.FuncApp'
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: 'src/RX.Nyss.FuncApp/RX.Nyss.FuncApp.csproj'
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/funcapp --no-build'
        zipAfterPublish: true
        modifyOutputPath: false
    
    # Publish Function App 2
    - task: DotNetCoreCLI@2
      displayName: 'Publish RX.Nyss.ReportFuncApp'
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: 'src/RX.Nyss.ReportFuncApp/RX.Nyss.ReportFuncApp.csproj'
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/reportfuncapp --no-build'
        zipAfterPublish: true
        modifyOutputPath: false
    
    # Publish Function App 3
    - task: DotNetCoreCLI@2
      displayName: 'Publish RX.Nyss.PublicApiFuncApp'
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: 'src/RX.Nyss.PublicApiFuncApp/RX.Nyss.PublicApiFuncApp.csproj'
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/publicapifuncapp --no-build'
        zipAfterPublish: true
        modifyOutputPath: false
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Build Artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

# ================================
# DEV STAGE
# ================================
- stage: Dev
  displayName: 'Deploy to Development'
  dependsOn: Build
  condition: succeeded()
  variables:
    # Environment-specific variables
    
    
    # Connection Strings (MOVE THESE TO VARIABLE GROUP - THEY'RE SECRETS!)
    
    
    # Service Bus Queues
    ServiceBusQueues__SendEmailQueue: 'send-email-queue'
    ServiceBusQueues__ReportDismissalQueue: 'report-dismissal-queue'
    ServiceBusQueues__RecalculateAlertsQueue: 'recalculate-alert-queue'
    ServiceBusQueues__ReportResetQueue: 'report-reset-queue'
    ServiceBusQueues__SendSmsQueue: 'send-sms-queue'
    ServiceBusQueues__EidsrReportQueue: 'eidsr-report-queue'
    ServiceBusQueues__DhisReportQueue: 'dhis-report-queue'
    ServiceBusQueues__CheckAlertQueue: 'check-alert-queue'
    ServiceBusQueues__ReportQueue: 'report-queue'
    ServiceBusQueues__TelerivetReportQueue: 'telerivet-report-queue'
    ServiceBusQueues__MtnReportQueue: 'mtn-report-queue'
    
    # Authentication
    
    
    # Blob Container Names
    SmsGatewayBlobContainerName: 'sms-gateway'
    GeneralBlobContainerName: 'nyss-blob-container'
    PlatformAgreementsContainerName: 'nyss-agreements-container'
    PublicStatsBlobObjectPath: 'nyss-public-stats/nyssPublicStats.json'
    
    # Blob Object Names
    AuthorizedApiKeysBlobObjectName: 'authorized-api-keys.txt'
    StringsResourcesBlobObjectName: 'stringsResources.json'
    EmailContentResourcesBlobObjectName: 'emailContentResources.json'
    SmsContentResourcesBlobObjectName: 'smsContentResources.json'

    #Application Insight Connection Strings
    
    # Other Settings
    

  jobs:
  - deployment: DeployDev
    displayName: 'Deploy to Dev Environment'
    environment: 'Development'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
          
          # Deploy Web App (RX.Nyss.Web) to Dev
          - task: AzureRmWebAppDeployment@4
            displayName: 'Deploy app-dev-cbs-nyss-webapp-weu to Dev'
            inputs:
              azureSubscription: 'dev-cbs-az-red-cross'
              appType: 'webApp'
              WebAppName: 'app-dev-cbs-nyss-webapp-weu'
              packageForLinux: '$(Pipeline.Workspace)/drop/webapp/*.zip'
              RuntimeStack: 'DOTNETCORE|8.0'
              enableCustomDeployment: true
              DeploymentType: 'zipDeploy'
              AppSettings: |
                BaseUrl=$(BaseUrl)
                FuncAppBaseUrl=$(FuncAppBaseUrl)
                Environment=$(Environment)
                ConnectionStrings__NyssDatabase=$(ConnectionStrings__NyssDatabase)
                ConnectionStrings__SmsGatewayBlobContainer=$(ConnectionStrings__SmsGatewayBlobContainer)
                ConnectionStrings__GeneralBlobContainer=$(ConnectionStrings__GeneralBlobContainer)
                ConnectionStrings__DataBlobContainer=$(ConnectionStrings__DataBlobContainer)
                ConnectionStrings__ServiceBus=$(ConnectionStrings__ServiceBus)
                ConnectionStrings__Nominatim=$(ConnectionStrings__Nominatim)
                ConnectionStrings__IotHubManagement=$(ConnectionStrings__IotHubManagement)
                ConnectionStrings__IotHubService=$(ConnectionStrings__IotHubService)
                Languages=$(Languages)
                Authentication__CookieName=$(Authentication__CookieName)
                Authentication__CookieExpirationTime=$(Authentication__CookieExpirationTime)
                ServiceBusQueues__SendEmailQueue=$(ServiceBusQueues__SendEmailQueue)
                ServiceBusQueues__ReportDismissalQueue=$(ServiceBusQueues__ReportDismissalQueue)
                ServiceBusQueues__RecalculateAlertsQueue=$(ServiceBusQueues__RecalculateAlertsQueue)
                ServiceBusQueues__ReportResetQueue=$(ServiceBusQueues__ReportResetQueue)
                ServiceBusQueues__SendSmsQueue=$(ServiceBusQueues__SendSmsQueue)
                ServiceBusQueues__EidsrReportQueue=$(ServiceBusQueues__EidsrReportQueue)
                ServiceBusQueues__DhisReportQueue=$(ServiceBusQueues__DhisReportQueue)
                ApplicationInsights__ConnectionString=$(ApplicationInsights__ConnectionString)
                SmsGatewayBlobContainerName=$(SmsGatewayBlobContainerName)
                GeneralBlobContainerName=$(GeneralBlobContainerName)
                PlatformAgreementsContainerName=$(PlatformAgreementsContainerName)
                AuthorizedApiKeysBlobObjectName=$(AuthorizedApiKeysBlobObjectName)
                StringsResourcesBlobObjectName=$(StringsResourcesBlobObjectName)
                EmailContentResourcesBlobObjectName=$(EmailContentResourcesBlobObjectName)
                SmsContentResourcesBlobObjectName=$(SmsContentResourcesBlobObjectName)
                FeedbackReceiverEmail=$(FeedbackReceiverEmail)
                VariableKey=$(VariableKey)
                SupplementaryKey=$(SupplementaryKey)
                MailConfig__EnableFeedbackSms=$(MailConfig.EnableFeedbackSms)
                MailConfig__FromAddress=$(MailConfig.FromAddress)
          # Deploy Report API Web App to Dev
          - task: AzureRmWebAppDeployment@4
            displayName: 'Deploy app-dev-cbs-nyss-reportapi-webapp-weu to Dev'
            inputs:
              azureSubscription: 'dev-cbs-az-red-cross'
              appType: 'webApp'
              WebAppName: 'app-dev-cbs-nyss-reportapi-webapp-weu'
              packageForLinux: '$(Pipeline.Workspace)/drop/reportapi/*.zip'
              RuntimeStack: 'DOTNETCORE|8.0'
              enableCustomDeployment: true
              DeploymentType: 'zipDeploy'
              AppSettings: |
                BaseUrl=$(ReportApiBaseUrl)
                CheckAlertTimeoutInMinutes=$(CheckAlertTimeoutInMinutes)
                ConnectionStrings__NyssDatabase=$(ConnectionStrings__NyssDatabase)
                ConnectionStrings__GeneralBlobContainer=$(ConnectionStrings__GeneralBlobContainer)
                ConnectionStrings__DataBlobContainer=$(ConnectionStrings__DataBlobContainer)
                ConnectionStrings__ServiceBus=$(ConnectionStrings__ServiceBus)
                ServiceBusQueues__SendEmailQueue=$(ServiceBusQueues__SendEmailQueue)
                ServiceBusQueues__CheckAlertQueue=$(ServiceBusQueues__CheckAlertQueue)
                ServiceBusQueues__SendSmsQueue=$(ServiceBusQueues__SendSmsQueue)
                GeneralBlobContainerName=$(GeneralBlobContainerName)
                PublicStatsBlobContainerName=$(PublicStatsBlobContainerName)
                StringsResourcesBlobObjectName=$(StringsResourcesBlobObjectName)
                SmsContentResourcesBlobObjectName=$(SmsContentResourcesBlobObjectName)
                EmailContentResourcesBlobObjectName=$(EmailContentResourcesBlobObjectName)
                PublicStatsBlobObjectName=$(PublicStatsBlobObjectName)
                VariableKey=$(VariableKey)
                SupplementaryKey=$(SupplementaryKey)
                ApplicationInsights__ConnectionString=$(ApplicationInsights__ReportApi)
          
          # Deploy Function App 1 (RX.Nyss.FuncApp) to Dev
          - task: AzureFunctionApp@1
            displayName: 'Deploy func-dev-cbs-nyss-funcapp-weu to Dev'
            inputs:
              azureSubscription: 'dev-cbs-az-red-cross'
              appType: 'functionApp'
              appName: 'func-dev-cbs-nyss-funcapp-weu'
              package: '$(Pipeline.Workspace)/drop/funcapp/*.zip'
              deploymentMethod: 'zipDeploy'
              runtimeStack: 'DOTNET-ISOLATED|8.0'
              appSettings: |
                FUNCTIONS_WORKER_RUNTIME=dotnet-isolated
                SERVICEBUS_CONNECTIONSTRING=$(ConnectionStrings__ServiceBus)
                GENERALBLOBSTORAGE_CONNECTIONSTRING=$(ConnectionStrings__GeneralBlobContainer)
                SERVICEBUS_REPORTQUEUE=$(ServiceBusQueues__ReportQueue)
                SERVICEBUS_TELERIVETREPORTQUEUE=$(ServiceBusQueues__TelerivetReportQueue)
                SERVICEBUS_MTNREPORTQUEUE=$(ServiceBusQueues__MtnReportQueue)
                SERVICEBUS_SENDEMAILQUEUE=$(ServiceBusQueues__SendEmailQueue)
                SERVICEBUS_SENDSMSQUEUE=$(ServiceBusQueues__SendSmsQueue)
                AuthorizedApiKeysBlobPath=$(AuthorizedApiKeysBlobPath)
                WhitelistedEmailAddressesBlobPath=$(WhitelistedEmailAddressesBlobPath)
                WhitelistedPhoneNumbersBlobPath=$(WhitelistedPhoneNumbersBlobPath)
                GeneralBlobContainerName=$(GeneralBlobContainerName)
                MaxContentLength=$(MaxContentLength)
                EnableResendingFeedbackMessages=$(EnableResendingFeedbackMessages)
                NumberOfMessagesToFetchForResending=$(NumberOfMessagesToFetchForResending)
                MailConfig__FromAddress=$(MailConfig__FromAddress)
                MailConfig__FromName=$(MailConfig__FromName)
                MailConfig__SendToAll=$(MailConfig__SendToAll)
                MailConfig__SendFeedbackSmsToAll=$(MailConfig__SendFeedbackSmsToAll)
                MailConfig__EnableFeedbackSms=$(MailConfig__EnableFeedbackSms)
                MailConfig__SendGrid__SendMailUrl=$(MailConfig__SendGrid__SendMailUrl)
                MailConfig__SendGrid__ApiKey=$(MailConfig__SendGrid__ApiKey)
                MailConfig__UseSendGrid=$(MailConfig__UseSendGrid)
                ConnectionStrings__IotHubService=$(ConnectionStrings__IotHubService)
                ConnectionStrings__ServiceBus=$(ConnectionStrings__ServiceBus)
                ServiceBusQueues__SendSmsQueue=$(ServiceBusQueues__SendSmsQueue)
                ApplicationInsights__ConnectionString=$(ApplicationInsights__FuncApp)

          # Deploy Function App 2 (PublicApi) to Dev
          - task: AzureFunctionApp@1
            displayName: 'Deploy func-dev-cbs-nyss-publicapi-funcapp-weu to Dev'
            inputs:
              azureSubscription: 'dev-cbs-az-red-cross'
              appType: 'functionApp'
              appName: 'func-dev-cbs-nyss-publicapi-funcapp-weu'
              package: '$(Pipeline.Workspace)/drop/publicapifuncapp/*.zip'
              deploymentMethod: 'zipDeploy'
              runtimeStack: 'DOTNET-ISOLATED|8.0'
              appSettings: |
                FUNCTIONS_WORKER_RUNTIME=dotnet-isolated
                DATABLOBSTORAGE_CONNECTIONSTRING=$(ConnectionStrings__DataBlobContainer)
                PublicStatsBlobObjectPath=$(PublicStatsBlobObjectPath)
                ApplicationInsights__ConnectionString=$(ApplicationInsights__PublicApi)

          # Deploy Function App 3 (Report) to Dev
          - task: AzureFunctionApp@1
            displayName: 'Deploy func-dev-cbs-nyss-report-funcapp-weu to Dev'
            inputs:
              azureSubscription: 'dev-cbs-az-red-cross'
              appType: 'functionApp'
              appName: 'func-dev-cbs-nyss-report-funcapp-weu'
              package: '$(Pipeline.Workspace)/drop/reportfuncapp/*.zip'
              deploymentMethod: 'zipDeploy'
              runtimeStack: 'DOTNET-ISOLATED|8.0'
              appSettings: |
                FUNCTIONS_WORKER_RUNTIME=dotnet-isolated
                SERVICEBUS_CONNECTIONSTRING=$(ConnectionStrings__ServiceBus)
                SERVICEBUS_REPORTQUEUE=$(ServiceBusQueues__ReportQueue)
                SERVICEBUS_RECALCULATEALERTSQUEUE=$(ServiceBusQueues__RecalculateAlertsQueue)
                SERVICEBUS_CHECKALERTQUEUE=$(ServiceBusQueues__CheckAlertQueue)
                SERVICEBUS_TELERIVETREPORTQUEUE=$(ServiceBusQueues__TelerivetReportQueue)
                SERVICEBUS_MTNREPORTQUEUE=$(ServiceBusQueues__MtnReportQueue)
                SERVICEBUS_EIDSRREPORTQUEUE=$(ServiceBusQueues__EidsrReportQueue)
                SERVICEBUS_DHISREPORTQUEUE=$(ServiceBusQueues__DhisReportQueue)
                ReportApiBaseUrl=$(ReportApiBaseUrl)
                ApplicationInsights__ConnectionString=$(ApplicationInsights__ReportFuncApp)